{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}


{%  block content %}
<div class="container">
        <div class="site-index">

<div class="jumbotron">
<h1>💡一灯靠谱图书管理系统</h1>
</div>

<div class="body-content">

<div class="row">
<div class="col-lg-4">
<h2>靠谱不要不要的</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur.</p>

</div>
<div class="col-lg-4">
<h2>就是干</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur.</p>

</div>
<div class="col-lg-4">
<h2>老铁，没毛病</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur.</p>

</div>
</div>

</div>
</div>
</div>
{% endblock %}